<ng-container>
  <app-date-picker/>
  <div *ngIf="isLoading$ | async; else resultsBlock">
    loading ...
  </div>
</ng-container>

<ng-template #resultsBlock>
  <div class="commits">
    <ul *ngIf="commits.length; else elseBlock" class="commits__list">
      <li *ngFor="let commit of commits" class="commits__item">
        <app-list-view-item [commit]="commit"></app-list-view-item>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #elseBlock>
  <div class="error-msg">
    <div *ngIf="errorMsg$ | async as errorMsg; else noResults">
      <p>{{errorMsg}}</p>
    </div>
  </div>
</ng-template>

<ng-template #noResults>
  No results for searched date range
</ng-template>
