<ng-container *ngIf="isLoading$ |async; else resultsBlock">
  loading ...
</ng-container>

<ng-template #resultsBlock>
  <app-date-picker/>
  <div class="commits">
    <ul *ngIf="commits.length; else elseBlock" class="commits__list">
      <li *ngFor="let commit of commits" class="commits__item">
        <app-list-view-item [commit]="commit"></app-list-view-item>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #elseBlock>
  <div class="commits__no-results">No results for searched date range</div>
</ng-template>
