<style>
    .error-msg {
        margin-top: 2rem;
        color: indianred;
    }
</style>

<div *ngIf="commit$ | async as commit; else elseBlock" class="commit-details">
  <h1>{{ commit.commit.message }}</h1>
  <div>{{ commit.commit.committer.name }}</div>
  <div>{{ commit.commit.committer.date | date : "dd/MM/yyyy" }}</div>
  <a [href]="commit.html_url">Check details on GitHub</a>
</div>

<ng-template #elseBlock>
  <div *ngIf="errorMsg$ | async as errorMsg; else loading">
    <p class="error-msg">{{errorMsg}}</p>
  </div>
</ng-template>
<ng-template #loading>
  loading details ...
</ng-template>
